/** @format */
@font-face {
  font-family: "Brier-Bold";
  src: url(../fonts/Brier-Bold.otf);
}

@font-face {
  font-family: "Brier-Regular";
  src: url(../fonts/Brier-Regular.otf);
}


/* stylings for loading face */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: none;
}
body::-webkit-scrollbar {
  width: 0em;
}
body {
  margin: 0;
  background-color: rgb(0, 0, 0) !important;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}
span {
  overflow: hidden;
  display: block;
}
.loader-wrap {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: transparent
}
.loader-wrap svg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 110vh;
}
.loader-wrap .loader-wrap-heading h1 {
  font-size: 80px;
  z-index: 20;
  color: #e0e0e0;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: "Brier-Regular";
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800vh;
  width: 100%;
}
/* end of stylings for loading face */


/* content stylings */
#lolz{
  position: fixed;
  color: white;
  z-index: 1;
  font-family: "Brier-Regular";
  font-size: 45px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.content #top-left{
  position: fixed;
  left: 0;
  top: 0;
  font-size: 18px;
  width: 30%;
  line-height: 1.5;
  padding-left: 40px;
  padding-top: 30px;
  color: white;
  z-index: 1;
  font-family: "Brier-Regular";
}
.content #top-right{
  position: fixed;
  right: 0;
  top: 0;
  text-align: right;
  font-size: 18px;
  width: 30%;
  line-height: 1.5;
  padding-right: 40px;
  padding-top: 30px;
  color: white;
  z-index: 1;
  font-family: "Brier-Regular";
}
.content #bottom-left{
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 18px;
  width: 30%;
  line-height: 1.5;
  padding-left: 40px;
  padding-bottom: 30px;
  color: white;
  z-index: 1;
  font-family: "Brier-Regular";
}
.content #bottom-right{
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 18px;
  width: 30%;
  line-height: 1.5;
  padding-right: 40px;
  padding-bottom: 30px;
  color: white;
  z-index: 1;
  text-align: right;
  font-family: "Brier-Regular";
}

canvas {
  display: block;
  position: fixed;
  outline:0;
  top: 0;
}
/* end of content stylings */


@media (max-width: 767px) {
  .loader-wrap svg {
    width: 200vw;
    margin-left: -50vw;
  }
  .loader-wrap .loader-wrap-heading,
  .container h1 {
    font-size: 60px;
  }
}
